<div class="container mt-5" *ngIf="error">
    <div class="row mb-4">
        <div class="col-md-12 p-3">
            <h2 class="text-center genre-title">There is an error, please try again later.</h2>
        </div>
    </div>
</div>
<div class="container" *ngIf="genreShowList && !error">
    <div class="row mt-4">
        <div class="col-md-4 p-3">
            <h2 class="text-left genre-title">Filter by Genre</h2>
        </div>
        <div class="col-md-4 p-3">
            <select class="form-select browser-default custom-select" [(ngModel)]="genre" (change)="getTvShowsByGenre()">
                <option value="Thriller">Thriller</option>
                <option value="Drama">Drama</option>
                <option value="Sports">Sports</option>
                <option value="Comedy">Comedy</option>
            </select>
        </div>
    </div>
    <h2 class="text-left genre-title">{{genre}} TV Shows</h2>
    <div class="row show-list-div">
        <div class="col-md-2 p-3 single-show" *ngFor="let show of genreShowList;">
            <a class="show-list-image text-decoration-none" routerLink="/show/{{show.id}}" >
                <img class="img-fluid"  src="{{show.image.medium}}" />
                <div class="show-list-content">
                        <h6 class="text-center show-title">
                            <span class="single-show-title">
                                {{show.name}}
                            </span>
                        </h6>
                        <div class="star-genre-cls">
                            <div class="row">
                                <div class="col-md-12 text-center" >
                                    <strong><span class="star-icon">&#9734;</span> {{show.rating.average}}</strong>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-md-12 text-center text-wrap" >
                                    {{show.genres.join(', ')}}
                                </div>
                            </div>
                        </div>
                </div>
            </a>
        </div>
    </div>
</div>