<div class="container mt-4">
    <div class="row show-detail"  *ngIf="showDetail">
        <div class="preview col-md-3">
           <img *ngIf="showDetail.image" class="img-responsive show-detail-image" src="{{showDetail.image.original}}" />
        </div>
        <div class="details col-md-9" >
           <h3 class="show-title">{{showDetail.name}}</h3> 
            <h3 *ngIf="showDetail.rating.average">
                   <strong><span class="star-icon">&#9733;</span></strong><b>{{showDetail.rating.average}}</b>
             </h3>
           <div [innerHtml]="showDetail.summary"></div>
           <div>
             <h3 class="show-title">Show Info</h3>
             <div *ngIf="showDetail.network">
                <strong>Network: </strong> 
                 <a *ngIf="showDetail.officialSite" target="_blank" href="{{showDetail.officialSite}}">{{showDetail.network.name}}</a>
                 <span *ngIf="!showDetail.officialSite">{{showDetail.network.name}}</span>
             </div>
             <div>
                <strong>Schedule:</strong> {{showDetail.schedule.days[0]}} at {{showDetail.schedule.time}}  ({{showDetail.runtime}} minutes)
             </div>
             <div>
                <strong>Status:</strong> {{showDetail.status}}                    
             </div>
             <div>
                <strong>Show Type: </strong> {{showDetail.type}}                    
             </div>
             <div *ngIf="showDetail.genres[0]">
                <strong>Genres:</strong>
                 <ul>
                     <li *ngFor="let genres of showDetail.genres;">{{genres}}</li>
                 </ul>
             </div>
           </div>
        </div>
    </div>
</div>