<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-not-found-page-div mt-5 text-center">
                <h1>Oops!</h1>
                <div class="page-not-found-details mt-2">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="page-not-found-button mt-5">
                    <a routerLink="/" class="btn btn-secondary btn-lg"> Back To Dashboard </a>
                </div>
            </div>
        </div>
    </div>
</div>